

@font-face {
    font-family: "BebasNeue";
    src : url("../assets/fonts/ofont.ru_Bebas\ Neue.ttf")
}

@font-face {
    font-family: "BebasNeueBook";
    src : url("../assets/fonts/BebasNeueBook.otf")
}

@font-face {
    font-family: "Montserrat";
    src : url("../assets/fonts/Montserrat-Medium.ttf")
}
