
.main {
    background: url(../assets//images/background/background.jpg)center center;
    background-size: cover;
    width: 100%;
    height: 990px;
    font-family: Montserrat;
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &__right {
        width: 100%;
    }
    &__header {
        margin-top: 40px;
    }
    &__list-item {
        display: flex;
    }
    &__item {
        margin-right: 100px;
        &:last-child {
            margin-right: 30px;
        }
        &:first-child {
            margin-left: 20px;
        }
    }
    &__link {
        color: #1d1d1b;
        font-family: "BebasNeue";
        font-size: 24px;
        text-transform: uppercase;
    }
    &__phone-link {
        border-radius: 10px;
        border: 1px solid #c7af8a;
        padding: 6px 13px;
    }
    &__text {
        margin-bottom: 75px;
    }
    &__hotel {
        color: #444444;
        font-family: "BebasNeue";
        font-size: 34px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    &__title {
        width: 816px;
        margin-left: -65px;
    }
    &__logo {
        width: 100%;
        margin-bottom: 35px;
    }
    &__subtitle {
        color: #444444;
        font-family: "BebasNeueBook";
        font-size: 51px;
        font-weight: 400;
        text-align: right;
    }
    &__offer {
        margin-left: 144px;
        position: relative;
        padding-left: 45px;
        margin-bottom: 115px;
        display: flex;
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 237px;
            width: 24px;
            background: url(../assets/images/frame.png);
            top: 0;
            left: -20px;
        }
    }
    &__price {
        color: #c7af8a;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 600;
        max-width: 168px;
        margin-bottom: 31px;
    }
    &__sap {
        text-align: left;
    }
    &__number {
        font-size: 45px;
        margin: 10px 0;
    }
    &__sab {
        display: block;
        text-align: right;
    }
    &__description {
        width: 350px;
        color: #444444;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
}
.burger {
    margin-left: 10px;
    display: none;
}
.burger__list {
    transition: 1s all;
    transform: translate(-5500px, 0);
    top: 90px;
    width: 70%;
    position: absolute;
}
.burger__list.active {
    transform: translate(0, 0);
}
.burger__item {
    width: 100%;
    padding: 20px 20px;
    border-top: 1px solid rgb(99, 99, 99);
    background: rgb(167, 167, 167);
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.line {
    width: 40px;
    height: 3px;
    background: black;
}
.line + .line {
    margin-top: 5px;
}
